<%= image_tag @blog.image.url(:medium) %>
<h1><%= @blog.title %></h1>
<p><%= @blog.body %></p>
<p><%= @blog.user.email %></p>

<% if user_signed_in? && current_user.id == @blog.user.id %>
    <%= link_to "Edit", edit_blog_path, class: "btn btn-info" %>
    <%= link_to "Delete", blog_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
<% end %>